.login-form .form-control {
    border: 1px solid #320ed3;
    border-radius: 4px;
    height: 50px;
    line-height: 50px;
  }
  .login-form .form-group {
    margin-bottom:10px;
  }
  .login-form{ text-align:center;}
  .card {
    border-radius: 30px;
  }